body {
    font-family: Arial, sans-serif;
    background-image: url('C:/Users/hamda/OneDrive/Desktop/RTRP/static/back.png');
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-button {
    font-weight: bold;
    background-color: #e9ecef;
}

.accordion-button:not(.collapsed) {
    background-color: #007bff;
    color: white;
}

#prediction-output {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

#result {
    font-size: 1.2em;
    font-weight: bold;
    color: #343a40;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    margin-left: 10px;
}

.form-control, .form-select {
    border-radius: 5px;
}