body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

.camera {
    margin: 30px auto;
    width: 720px;
    border: 5px solid #555;
    border-radius: 10px;
}

.camera img {
    width: 100%;
    border-radius: 10px;
}
